.App {
  text-align: center;
}

/* header background rgba(255, 255, 255, 0.9)  footer background #e8e8e6;; #363945; #5b6b7f;
grey #484551;
blue :#4fa3db;*/

/* takes always the id  */
/* .title {
  color: red;
}

#title {
  color: blue;
}

h1 {
  color: green;
} */

header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.logo-css {
  width: 60px;
  height: 60px;
}
.navmenu {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 15px;
  /* width: 100%; */
  /* margin-right: 80px; */
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 20%;
}

.nav-links li {
  list-style: none;
}

.text {
  text-decoration: none;
  color: grey;
}
.text:hover {
  color: blue;
}
/* 
dropdown w3school */
.dropbtn {
  background-color: white;
  color: grey;
  /* padding: 16px; */
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin-left: -89px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* about section  */

.about-section {
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 50px;
}

.css-span {
  color: blue;
}

.watchvideo-btn {
  margin-top: 20px;
  margin-left: 179px;
  width: 150px;
  height: 47px;
  background-color: green;
  border: none;
  border-radius: 11px;
  color: white;
  font-size: 16px;
}
.watchvideo-btn:hover {
  background-color: rgba(0, 128, 0, 0.274);
}

/* project section  */
.projects-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
}

.project img {
  margin-top: 20px;
}
.project p {
  line-height: 35px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

/* footer */
footer {
  /* border: 1px solid black; */
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  background-color: #e8e8e6;
  height: 80px;
}

footer span {
  font-weight: bold;
}
footer a {
  text-decoration: none;
}
footer p {
  padding-top: 35px;
}

